/* table*/
#headtable{
background-color:#291856;
color:#fff;
}
.bootstrap-table .table{
background-color:#948cbe;
}
/* table*/

#token{
margin-left:10%;
}

#buttoncancel{
background-color:#df0024;
color:#fff;
border-color:#e2342d;
}
#buttonsubmit{
background-color:#2eb4c0;
color:#fff;
border-color:#3fb8c1;
}
#textarea2{
height:150px;
}